PORT=5000
FRONTEND_URL=http://localhost:5173

DB_AUTH_TYPE=windows
DB_SERVER=LAPTOP-QG89BGUC
DB_INSTANCE=SQLEXPRESS
DB_DATABASE=QuanLyThucTap
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_DRIVER=ODBC Driver 18 for SQL Server
